<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="font-family:cursive;">Información Drogueria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <div>
        <ion-img src="../assets/img/logo_corto.png"></ion-img>
      </div>
  </ion-card-header>

  <ion-card-content style="font-family:cursive;">
    Somos una empresa especialistas en la entrega de productos y servicios de salud y bienestar, que con excelencia, contribuye a la calidad de vida de clientes, colaboradores y comunidades.
    Ofrecemos el mejor servicio a nuestros clientes para que encuentren todos los productos que buscan relacionados droguerias. Tenemos el mayor stock disponible con las mejores ofertas y promociones en productos.

  </ion-card-content>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label style="font-family:cursive;">Dirección: Cra 12A # 51B - 78</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    <ion-label style="font-family:cursive;">Telefono: +57 3001245786</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="megaphone" slot="start"></ion-icon>
    <ion-label style="font-family:cursive;">Sucursal: Barranquilla, Bogotá.</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label style="font-family:cursive;">Correo: Drogcaribe@gmail.com.</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    <ion-label style="font-family:cursive;">Facebook: Drogueria Caribe</ion-label>
  </ion-item>

</ion-card>
</ion-content>

