<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="infcateg"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let result of results; let i = index">
    <ion-card-header>
      <ion-img [src]="result.image"></ion-img>
      <ion-card-title style="font-family:cursive;" class="titulo_style" >{{ result.name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="font-family:cursive;">
      {{ result.description }}
    </ion-card-content>
    <ion-card-content style="font-family:cursive;">
      {{ result.stock }}
    </ion-card-content>
    <ion-card-content style="font-family:cursive;">
      {{ result.price }}
    </ion-card-content>
  </ion-card>
</ion-content>
